@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .paper {
    @apply bg-paper bg-no-repeat [background-position:top_right,left_bottom] [background-size:50%,50%];
    @apply backdrop-blur-lg opacity-90 bg-white;
  }
}
